{% extends 'base.html' %}

{% block title %}E-commerce|About{% endblock %}

{% load static %}

{% block content %}
    <section id="about">
        <div class="pic">
            <img src="{% static 'images/banner/4.png' %}" alt="">
        </div>
        <div class="text">
            <h2>Who We Are?</h2>
            <p>Avh yfe jhdfe feyf yfe hafef efuefh eufuehf uefhue vfa Translation and professional proofreading for busy researchers. Our PhD editors will translate, format, and edit your paper. Browse Services. View Free Resources. Get Started Online. Highlights:
                We Offer A Range Of Services, Free Resources Available. Translation and professional proofreading for busy researchers. Our PhD editors will translate, format, and edit your paper. Browse Services. View Free Resources. Get Started Online.
                Highlights: We Offer A Range Of Services, Free Resources Available. Translation and professional proofreading for busy researchers. Our PhD editors will translate, format, and edit your paper. Browse Services. View Free Resources. Get
                Started Online. Highlights: We Offer A Range Of Services, Free Resources Available. Translation and professional proofreading for busy researchers. Our PhD editors will translate, format, and edit your paper. Browse Services. View Free
                Resources. Get Started Online. Highlights: We Offer A Range Of Services, Free Resources Available.</p>
        </div>
    </section>
    <section id="marq">
        <div class="marque">
            <marquee>ODIN SHOES, <span>Location:</span> Gwarko, Lalitpur <span>Contact:</span> 9860300580, 9841352699, 9843152898</marquee>
        </div>
    </section>
    <section id="newsletter" class="section-m1">
        <div class="newstext">
            <h2>Sign Up for newsletter</h2>
            <h4>Get Email updates about our latest shop and <span>special offer</span></h4>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email Address">
            <button class="btn">Sign Up</button>
        </div>
    </section>

{% endblock content %}