{% extends 'base.html' %}

{% block content %}

{% load cart %}

{% if messages %}
  {% for message in messages %}
      {{message}}
  {% endfor %}
{% endif %}


<div class = "container-fluid mt-3">
  <div class = "row">
    {% comment %} filter categories {% endcomment %}
    <div class = "col-lg-2 mx-auto">
      <div class = "list-group">
        <a href = "/" class = "list-group-item list-gropu-item-action">All Product</a>
        {% for category in categories %}
          <a href = "/?category={{category.id}}" class = "list-group-item list-gropu-item-action">{{category.name}}</a>
        {% endfor %}
      </div>

    </div>
    {% comment %} all product {% endcomment %}
    <div id = "products" class = "col-lg-10 mx-auto">
      <div class = "row mx-auto">
        {% for product in products%}
          <div class="card mx-auto" style="width: 18rem;">
              <img src="{{product.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">{{product.name}}
              <h5 class="card-title">{{product.price}}
                <!-- request.session.cart returns cart object-->
              {{product | is_in_cart:request.session.cart}}
              <form action = "/" method = "POST">
                {% csrf_token %}
                <!-- whenever add to cart button is pressed, product id is send to  server-->
                <input hidden type = "text" name = 'product' value = '{{product.id}}'>
                <input type = "submit" class="btn btn-primary" value = "Add To Cart">
              </form>
              </div>
          </div>
        {% endfor %}
      </div>  
</div>
{% endblock content %}



