{% extends 'base.html' %}

{% load static %}
{% block content %}

{% load cart %}
{% load custom_filter %}

{% if messages %}
  {% for message in messages %}
      {{message}}
  {% endfor %}
{% endif %}

<section id="page-header">
  <h2>#Stay Home</h2>
  <p style = "color:rgb(223, 141, 53); font-size:30px;">Save your time and Money</p>
</section>
<section id="product2" class="section-p1">
  <div class="category">
      <h2>Category</h2>
      {% for category in categories %}
      <h3><a href = "/?category={{category.id}}">{{category.name}}</a></h3>
        {% comment %} <h3>{{category.name}}</h3> {% endcomment %}
      {% endfor %}
      </div>
  <div class="pro-container">
    {% for product in products %}
      <div class="pro" onclick="';">
          <img src="{{product.image.url}}" alt="">
          <div class="des">
              <span>{{product.name}}</span>
              <h4>{{product.price|currency}}</h4>
          </div>
          {% if product|is_in_cart:request.session.cart %}
            <div class="button-add">
                {% comment %} <div> {% endcomment %}
                <form action="" method = "POST">{% csrf_token %}
                  <input hidden type="text" value="{{product.id}}" name="remove">
                  <input type="submit" class="btn" value = "-">
                </form>
                {% comment %} </div> {% endcomment %}
                <div>{{product|cart_quantity:request.session.cart}} in cart</div>
                <form action="" method = "POST">{% csrf_token %}
                  <input hidden type="text" value="{{product.id}}" name="product">
                  <input type="submit" class="btn" value = "+">
                </form>
                {% comment %} </div> {% endcomment %}
            </div>
          {% else %}
            <div class="button-add">
              <div>
                  <form action="/#{{product.id}}" method = "POST">{% csrf_token %}
                    <input hidden type="text" value="{{product.id}}" name="product">
                    <button type="submit" class="btn">Add to cart</button>
                  </form>
              </div>
            </div>
          {% endif %}


      </div>

    {% endfor %}
  </div>
</section>
{% endblock content %}



