{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
  {% for message in messages %}
      {{message}}
  {% endfor %}
{% endif %}

    <form action="" method="post">{% csrf_token %}
        <div class="imgcontainer">
            <img src="{% static 'images/avatar.png' %}" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        
            <button type="submit">Login</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            
            <br>
            <a href="{% url 'account:signup' %}" class ="signupbtn">SignUp</a>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>

    {% comment %} <section id="login-page">
        <div class="loginpage">
            <form class="box" action="" method="post">re
                {% csrf_token %}
                <h1>Login</h1>
                <input type="email" name="email" placeholder="smthng@email.com">
                <input type="password" name="password" placeholder="Enter Password">
                <input type="submit" name="" value="Login">
                <p>don't have an account <span><a href="{% url 'account:signup' %}">Create Now</a> </span></p>
            </form>
        </div>
    </section>
    <section id="newsletter" class="section-m1">
        <div class="newstext">
            <h2>Sign Up for newsletter</h2>
            <h4>Get Email updates about our latest shop and <span>special offer</span></h4>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email Address">
            <button class="btn">Sign Up</button>
        </div>
    </section> {% endcomment %}

{% endblock content %}