{% extends 'base.html' %}

{% block content %}

{% if messages %}
  {% for message in messages %}
      {{message}}
  {% endfor %}
{% endif %}

    <section id="login-page">
        <div class="loginpage">
            <form class="box" action="" method="post">
                {% csrf_token %}
                <h1>Login</h1>
                <input type="email" name="email" placeholder="smthng@email.com">
                <input type="password" name="password" placeholder="Enter Password">
                <input type="submit" name="" value="Login">
                <p>don't have an account <span><a href="{% url 'account:signup' %}">Create Now</a> </span></p>
            </form>
        </div>
    </section>
    <section id="newsletter" class="section-m1">
        <div class="newstext">
            <h2>Sign Up for newsletter</h2>
            <h4>Get Email updates about our latest shop and <span>special offer</span></h4>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email Address">
            <button class="btn">Sign Up</button>
        </div>
    </section>

{% endblock content %}