<html>
    <head>
        <title>Payment</title>
        <script>
            body {
                font-family: 'Roboto', sans-serif!important;
                margin:0;
                padding:0;
                box-sizing: border-box;
            }
            
            .mainscreen
            {
                min-height: 100vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #DFDBE5;
                background-image: url("https://wallpaperaccess.com/full/3063067.png");
                color:#963E7B;
            }
            
            .card {
                width: 60rem;
                margin: auto;
                background: white;
                position:center;
                align-self: center;
                top: 50rem;
                border-radius: 1.5rem;
                box-shadow: 4px 3px 20px #3535358c;
                display:flex;
                flex-direction: row;
                
            }
            
            .leftside {
                background: #030303;
                width: 25rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }
            
            .product {
                object-fit: cover;
                width: 20em;
                height: 20em;
                border-radius: 100%;
            }
            
            .rightside {
                background-color: #ffffff;
                width: 35rem;
                border-bottom-right-radius: 1.5rem;
                border-top-right-radius: 1.5rem;
                padding: 1rem 2rem 3rem 3rem;
            }
            
            p{
                display:block;
                font-size: 1.1rem;
                font-weight: 400;
                margin: .8rem 0;
            }
            
            .inputbox
            {
                color:#030303;
                width: 100%;
                padding: 0.5rem;
                border: none;
                border-bottom: 1.5px solid #ccc;
                margin-bottom: 1rem;
                border-radius: 0.3rem;
                font-family: 'Roboto', sans-serif;
                color: #615a5a;
                font-size: 1.1rem;
                font-weight: 500;
              outline:none;
            }
            
            .expcvv {
                display:flex;
                justify-content: space-between;
                padding-top: 0.6rem;
            }
            
            .expcvv_text{
                padding-right: 1rem;
            }
            .expcvv_text2{
                padding:0 1rem;
            }
            
            .button{
                background: linear-gradient(
            135deg
            , #753370 0%, #298096 100%);
                padding: 15px;
                border: none;
                border-radius: 50px;
                color: white;
                font-weight: 400;
                font-size: 1.2rem;
                margin-top: 10px;
                width:100%;
                letter-spacing: .11rem;
                outline:none;
            }
            
            .button:hover
            {
                transform: scale(1.05) translateY(-3px);
                box-shadow: 3px 3px 6px #38373785;
            }
            
            @media only screen and (max-width: 1000px) {
                .card{
                    flex-direction: column;
                    width: auto;
                  
                }
            
                .leftside{
                    width: 100%;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 0;
                  border-top-right-radius:0;
                  border-radius:0;
                }
            
                .rightside{
                    width:auto;
                    border-bottom-left-radius: 1.5rem;
                    padding:0.5rem 3rem 3rem 2rem;
                  border-radius:0;
                }
            }
           
        </script>
    </head>
    <body>
        <div class="mainscreen">
            <!-- <img src="https://image.freepik.com/free-vector/purple-background-with-neon-frame_52683-34124.jpg"  class="bgimg " alt="">--> 
              <div class="card">
                <div class="leftside">
                  <img
                    src="https://i.pinimg.com/originals/18/9d/dc/189ddc1221d9c1c779dda4ad37a35fa1.png"
                    class="product"
                    alt="Shoes"
                  />
                </div>
                <div class="rightside">
                  <form action="" method = "POST" id = "payment">
                    <h1>CheckOut</h1>
                    <h2>Payment Information</h2>
                    <p>Card Number</p>
                    <div id="card-number" class="field"></div>
                    <p>CVV</p>
                    <div id="cvv" class="field"></div>
                    <div class="expcvv">
          
                    <p class="expcvv_text">Expiry</p>
                    <div id="expiration-date" class="field"></div>
                    <input type="hidden" name="payment_method_nonce" value="" id="nonce" />
                </div>
                    <p></p>
                    {% csrf_token %}
                    <button type="submit" class="button">CheckOut</button>
                  </form>
                </div>
              </div>
            </div>
    


  <script src="https://js.braintreegateway.com/web/3.58.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.58.0/js/hosted-fields.min.js"></script>
  <script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {'font-size': '13px'},
          'input.invalid': {'color': 'red'},
          'input.valid': {'color': 'green'}
        },
        fields: {
          number: {selector: '#card-number'},
          cvv: {selector: '#cvv'},
          expirationDate: {selector: '#expiration-date'}
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // set nonce to send to the server
            document.getElementById('nonce').value = payload.nonce;
            // submit form
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });
  </script>
</body>
</html>  