{% extends 'base.html' %}
{% load static %}

{% block title %}Profile|{{customer.first_name}}{% endblock %}

{% block content %}

<div id = "messagebox">
  {% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
  {% endif %}
</div>

<h2 style="text-align:center">Profile</h2>

<div class="card1">
  <img src="{% static '/images/luffy.jpeg' %}" alt="John" style="width:100%">
  <div>
    <span>First Name:{{customer.first_name}}</span><br>
    <span>Last Name:{{customer.last_name}}</span><br>
    <span>Address:{{customer.address}}</span><br>
    <span>Contact:{{customer.phone}}</span><br>
    <span>Email:{{customer.email}}</span><br>

  </div>
  <p><a href = "{% url 'account:update_profile' %}" class = 'button'>Update Profile</a></p>
  <p><a href = "{% url 'account:change_password' %}" class = 'button'>Change Password</a></p>

</div>
{% endblock %}

